<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:action="@{/update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input name="id" readonly type="number" th:field="*{id}" placeholder="id" id="id">
    <br/>
    <label for="name">Name</label>
    <input name="name" type="text" th:field="*{name}" id="name">
    <br/>
    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" th:field="*{lastName}" placeholder="Last Name" id="lastName">
    <br/>
    <label for="email">Email</label>
    <input name="email" type="text" th:field="*{email}" placeholder="Email" id="email">
    <br><br>
    <input type="submit" value="Update user!"/>
</form>
</body>
</html>